[Unit]
Description=Check for new ERP commits every 2 minutes

[Timer]
OnCalendar=*:0/2
AccuracySec=15s
Persistent=false

[Install]
WantedBy=timers.target
